// Aspect général de la page
.container {
  margin: 0 auto;
  position: center;
  // display: flex;
  // justify-content: center;
  font-family: arial;

  h1 {
    font-weight: 400;
    font-size: 35px;
    padding-top: 30px;
    color: #707070;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    justify-content: center;
  }
}
