// Aspect général de la page
.container {
  width: 60%;
  margin: 0 auto;
  position: center;
  display: block;
  font-family: arial;
  background-color: #ffffff;

  h2, h1 {
    font-weight: 400;
    font-size: larger;
  }
}
