<h1>Ma famille</h1>

<% if @family.photo.attached? %>
  <%= cl_image_tag @family.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% @family.users.each do |user| %>
  <%= user.email %>
  <%= user.first_name %>
  <%= user.last_name %>
<% end %>
