<h1> Bienvenue </h1>
<div class="global-card">
 <div class="family-select">
  <div class="avatar">
    <% if @members.first.photo.attached? %>
      <%= image_tag @members.first.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="family-name">
  </div>
  <div class="number-members">
 </div>
</div>
