<h1>Toutes mes publications</h1>
<% @posts.each do |post| %>
  <div class="post-display">
    <%= post.description %>
    <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
<% end %>
