<h1>Nouvelle publication</h1>
<%= simple_form_for [@post] do |f| %>
  <div class="form-group">
    <%= f.input :description, label: false, as: :text, input_html: {rows: 5, cols: 10}, placeholder: "Description" %>
    <%= f.input :photo, as: :file, label: false %>
  </div>
  <div class="task-btn">
    <%= f.submit "Ajouter une publication", class: "btn-green" %>
  </div>
<% end %>
