<h1>Mon post</h1>
<%= @post.description %>
<%= @post.photo %>
<%= cl_image_tag("https://res.cloudinary.com/duc5z0utg/image/upload/v1599328433/fxhz3onanxybxcujeyuwxpba91tc.jpg",
      width: 400, height: 300, crop: :fill) %>
