.avatar-large {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-small {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
