.avatar-large {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
