.global-card {
  overflow: hidden;
  background: white;
  box-shadow: 4px 3px 15px rgba(0,0,0,0.1);
  height: auto;
  display: flex;
  padding: 50px;
  margin-bottom: 15px;
  border-radius: 19px;
  flex-direction: column;
  justify-content: center;
}

.card-family {
    overflow: hidden;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    height: auto;
    width: 360px;
    display: flex;
    padding: 20px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card {
  overflow: hidden;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;

  .post-info > img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
  }

}

.card-infos{
  border-top: 1px solid lightgray;
  margin-top: 10px;
  padding-top: 12px;
}
