// users & sessions
.simple_form {
  .form-sessions {
    // width: 70%;
    // margin: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 7px;
  }

  .form-group {
    // margin-bottom: 8px;
    margin: 10px;
  }

  .post_description > .form-control {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
}

.simple_form.new_user input {
    width: 98%;
}

.form-send {
  justify-content: flex-end;
  float: right;
}
